.login-card {
    width: 300px;
}

.main-div {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%
}

.error {
    font-weight: bold;
    color: red;
}